<!--
<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |error| %>
    <div class="alert alert-danger">
      <%= error %>
    </div>
  <% end %>
<% end %>
-->
<%= form_for @book do |f| %>
  <div>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <% if @book.errors[:title] %>
      <%= @book.errors[:title].join(', ') %>
    <% end %>
  </div>
  <div>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description %>
    <% if @book.errors[:description] %>
      <%= @book.errors[:description].join(', ') %>
    <% end %>
  </div>
  <div>
    <%= f.label :price %>
    <br>
    <%= f.text_field :price %>
    <% if @book.errors[:price] %>
      <%= @book.errors[:price].join(', ') %>
    <% end %>
  </div>
  <div>
    <%= f.label :page %>
    <br>
    <%= f.text_field :page %>
    <% if @book.errors[:page] %>
      <%= @book.errors[:page].join(', ') %>
    <% end %>
  </div>
  <div>
    <%= f.label :year %>
    <br>
    <%= f.text_field :year %>
    <% if @book.errors[:year] %>
      <%= @book.errors[:year].join(', ') %>
    <% end %>
  </div>
  <div>
    <%= f.submit button_text %>
    <br>
  </div>
<% end %>
