<h3>
  Data
  <small><%= @title %></small>
</h3>
<%= link_to 'Lihat Buku', books_path %> |
<%= link_to 'Tambah Buku', new_book_path %>
<table class="table table-hover table-striped table-sm">
  <thead>
    <tr>
      <td></td>
      <td>Title</td>
      <td>Description</td>
      <td>Price</td>
      <td>Pages</td>
      <td>Year</td>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to "Detail", book_path(book) %> |
          <%= link_to "Edit", edit_book_path(book) %> |
          <%= link_to "Delete", book_path(book), method: :delete, data: {
            confirm: "Buku #{book.title} akan dihapus"
          } %>
        </td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.price %></td>
        <td><%= book.page %></td>
        <td><%= book.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>